include CHANGELOG.md CITATION.cff
recursive-include docs *.md *.csv
recursive-include examples *.md *.fits *.csv
recursive-include tests/data *.md *.fits *.json
recursive-include validation *.md *.py *.json
recursive-include tools *.py
global-exclude __pycache__ *.py[cod]
